<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <title>Articles</title>

        <link rel="stylesheet"  type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    
    </head>
	<body>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Logout</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
         </button>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/create">Create Article <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/update">Update Article</a>
          <a class="nav-item nav-link" href="/delete">Delete Article</a>
          <a class="nav-item nav-link" href="/list">List Articles</a>
        </div>
     </div>
</nav><br>
<h1 class="text-center">List articles</h1><br>


  <div class = "row">
    <div class="container">
    <table id="myTable" class="table table-striped table-bordered" cellspacing="0"  style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Img</th>
                <th>Text</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% main.forEach(function(articles) { %>
                <tr>
                    <td><%= articles.article_id %></td>
                    
                    <td><%= articles.title %></td>
                    <td><%= articles.picture %></td>
                    <td><%= articles.text %></td>
                   
                    <td><button><a class="nav-item nav-link" href="/del?articleId=<%= articles.article_id %>">Delete</a></button></td>
        
                </tr>
            <% }) %>
        </tbody>
    </table>
  </div>
</div>



 
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

</body>
</html>